                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <button type="button" class="nav-link collapsed btn btn-primary" href="#" data-toggle="collapse" data-target="#collapse1"
                  aria-expanded="true" aria-controls="collapseTwo">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Button</span>
                </button>

                    <div class="row">



                    <div id="collapse1" class="collapse h-50 w-100" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="card shadow mb-4 input overflow-auto">
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Inputs</h6>
                            </div>
                            <div class="center">
                            <div class="card-body ">
                              <form>
                                <div class="seperate">
                                  <div class="mb-3">
                                    <label for="studentid" class="form-label">Student ID</label>
                                    <input type="text" class="form-control" id="studentid" placeholder="12345...">
                                  </div>
                                  <div class="mb-3">
                                    <label for="subjectid" class="form-label">Subject ID</label>
                                    <input type="text" class="form-control" id="subjectid" placeholder="HYT123...">
                                  </div>
                                  <div class="mb-3">
                                    <label for="schoolyear" class="form-label">School Year</label>
                                    <input type="text" class="form-control" id="schoolyear" placeholder="2nd Year...">
                                  </div>
                                </div>

                                  <div class="seperate">
                                  
                                  <div class="mb-3">
                                    <label for="term" class="form-label">Term</label>
                                    <input type="text" class="form-control" id="term" placeholder="1st Term...">
                                  </div>
                                  <div class="mb-3">
                                    <label for="grades" class="form-label">Grades</label>
                                    <input type="text" class="form-control" id="grades" placeholder="89, 76, 75, 90, 95...">
                                  </div>
                                  <div class="mb-3">
                                    <label for="finalgrade" class="form-label">Final Grade</label>
                                    <input type="text" class="form-control" id="finalgrade" placeholder="85...">
                                  </div>
                                  </div>
                                  <div class="seperate">
                                  
                                  
                                  <div class="mb-3">
                                    <label for="status" class="form-label">Status</label>
                                    <input type="text" class="form-control" id="status" placeholder="Enrolled...">
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Handle</label>
                                    <textarea class="form-control" id="Textarea1" rows="2"></textarea>
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Info</label>
                                    <textarea class="form-control" id="Textarea1" rows="2"></textarea>
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <button type="button" class="btn btn-secondary">Cancel</button>
                                  <button type="button" class="btn btn-primary">Submit</button>
                              </div>
                              </form>
                            </div>
                        </div>
                        </div>
                    </div>
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Table</h6>

                                </div>
                                <div class="card-body">
                                  <div class="table-responsive table-striped">
                                    <table class="table ">
                                        <thead class="" style="background-color: #4e73df;">
                                          <tr class="text-center text-white">
                                            <th scope="col">#</th>
                                            <th scope="col">Student ID</th>
                                            <th scope="col">Subject ID</th>
                                            <th scope="col">School Year</th>
                                            <th scope="col">Term</th>
                                            <th scope="col">Grades</th>
                                            <th scope="col">Final Grade</th>
                                            <th scope="col">Status</th>
                                          </tr>
                                        </thead>
                                        <tbody class="">
                                          <tr class="text-center">
                                            <th scope="row">1</th>
                                            <td>12314</td>
                                            <td>PHW123</td>
                                            <td>2nd Year</td>
                                            <td>1st Term</td>
                                            <td>89, 76, 75, 90, 95</td>
                                            <td>85</td>
                                            <td>Enrolled</td>
                                          </tr>
                                          <tr class="text-center">
                                            <th scope="row">2</th>
                                            <td>12345</td>
                                            <td>HYT123</td>
                                            <td>2nd Year</td>
                                            <td>1st Term</td>
                                            <td>89, 76, 75, 90, 95</td>
                                            <td>85</td>
                                            <td>Enrolled</td>
                                          </tr>
                                          <tr class="text-center">
                                            <th scope="row">3</th>
                                            <td>12345</td>
                                            <td>HYT123</td>
                                            <td>2nd Year</td>
                                            <td>1st Term</td>
                                            <td>89, 76, 75, 90, 95</td>
                                            <td>85</td>
                                            <td>Enrolled</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      </div>
                                </div>


                            </div>
                        </div>

                    </div>

          