<!-- Begin Page Content -->
<div class="container-fluid">


    <br><br>
    <div class="center">
        <div class="row d-flex justify-content-center shadow col-xl-8 col-lg-8"
            style="margin: 0; padding: 0; background-color: white;">
            <div class="col-xl-6 col-lg-6"
                style="margin: 0; padding: 0; border-radius:none; background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
                <div class=" mb-5 mt-5 input overflow-auto">

                    <div class="card-body" style="padding: 20%;">
                        <h2 class="text-white text-center"><b>Welcome to Login page!</b></h2>

                        <br><br>
                        <p class="text-white text-center">Please fill up the form to register </p>
                        <p class="text-white text-center">Or if you don't have an account, Please Register to our page
                            below.</p>
                        <br>
                        <a type="button" href="/register" class="btn text-white w-100" id="hover-button"
                            style="border:white solid 3px;" id="loginBtn">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" style="margin: 0; padding: 0;">
                <div class=" mb-5 mt-5 input overflow-auto">

                    <div class="card-body" style="padding: 20%;">
                        <h1 class="text-dark text-center"><b>Login</b></h1>
                        <br>
                        <form id="registerForm" onsubmit="event.preventDefault(); $('#confirmInsertModal').modal('show');">
                            <div class="mb-3">
                                <label for="schoolyear" class="form-label"
                                    style="font-weight: bold;color: black;">Email</label>
                                <input type="email" class="form-control" id="mu_email" name="mu_email"
                                    placeholder="sieghartm4@gmail.com...">
                            </div>
                            <div class="mb-3">
                                <label for="grades" class="form-label"
                                    style="font-weight: bold;color: black;">Password</label>
                                <input type="password" class="form-control" id="mu_password" name
                                    placeholder="pogiako123...">
                            </div>
                            <br>
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary w-100 text-white" id="submitFormBtn" style=" background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);"><b>Submit</b></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!--  INSERT MODAL -->
    <div class="modal fade" id="confirmInsertModal" tabindex="-1" role="dialog" aria-labelledby="confirmInserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmInsertModalLabel">Confirm Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Continue to Login?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmInsertBtn">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGIN ERROR MODAL -->
    <div class="modal fade" id="loginErrorModal" tabindex="-1" role="dialog" aria-labelledby="loginErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginErrorModalLabel">Login Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    There was an error logging in. Please check your email and password and try again.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- SUCCESS MODAL -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Account Created</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Your account has been successfully created.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- REQUIRED FIELDS MODAL -->
    <div class="modal fade" id="requiredFieldsModal" tabindex="-1" role="dialog"
        aria-labelledby="requiredFieldsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requiredFieldsModalLabel">Required Fields Missing</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please fill in all required fields before submitting the form.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>